@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--radius: 0.625rem;
	--background: lab(100% 0 0);
	--foreground: lab(2.75381% 0 0);
	--card: lab(100% 0 0);
	--card-foreground: lab(2.75381% 0 0);
	--popover: lab(100% 0 0);
	--popover-foreground: lab(2.75381% 0 0);
	--primary: lab(7.78201% -0.0000149012 0);
	--primary-foreground: lab(98.26% 0 0);
	--secondary: lab(96.52% -0.0000298023 0.0000119209);
	--secondary-foreground: lab(7.78201% -0.0000149012 0);
	--muted: lab(96.52% -0.0000298023 0.0000119209);
	--muted-foreground: lab(48.496% 0 0);
	--accent: lab(96.52% -0.0000298023 0.0000119209);
	--accent-foreground: lab(7.78201% -0.0000149012 0);
	--destructive: lab(48.4493% 77.4328 61.5452);
	--border: lab(90.952% 0 -0.0000119209);
	--input: lab(90.952% 0 -0.0000119209);
	--ring: lab(66.128% -0.0000298023 0.0000119209);
	--chart-1: lab(57.1026% 64.2584 89.8886);
	--chart-2: lab(55.0223% -41.0774 -3.90277);
	--chart-3: lab(30.372% -13.1853 -18.7887);
	--chart-4: lab(80.1641% 16.6016 99.2089);
	--chart-5: lab(72.7183% 31.8672 97.9407);
	--sidebar-foreground: lab(2.75381% 0 0);
	--sidebar-primary: lab(7.78201% -0.0000149012 0);
	--sidebar-primary-foreground: lab(98.26% 0 0);
	--sidebar-accent: lab(95.36% 0 0);
	--sidebar-accent-foreground: lab(7.78201% -0.0000149012 0);
	--sidebar-border: lab(90.952% 0 -0.0000119209);
	--sidebar-ring: lab(66.128% -0.0000298023 0.0000119209);
	--header-height: calc(var(--spacing) * 14);
}

.dark {
	--background: lab(2.75381% 0 0);
	--foreground: lab(98.26% 0 0);
	--card: lab(7.78201% -0.0000149012 0);
	--card-foreground: lab(98.26% 0 0);
	--popover: lab(7.78201% -0.0000149012 0);
	--popover-foreground: lab(98.26% 0 0);
	--primary: lab(90.952% 0 -0.0000119209);
	--primary-foreground: lab(7.78201% -0.0000149012 0);
	--secondary: lab(15.204% 0 -0.00000596046);
	--secondary-foreground: lab(98.26% 0 0);
	--muted: lab(15.204% 0 -0.00000596046);
	--muted-foreground: lab(66.128% -0.0000298023 0.0000119209);
	--accent: lab(15.204% 0 -0.00000596046);
	--accent-foreground: lab(98.26% 0 0);
	--destructive: lab(63.7053% 60.745 31.3109);
	--border: lab(100% 0 0 / 0.1);
	--input: lab(100% 0 0 / 0.15);
	--ring: lab(48.496% 0 0);
	--chart-1: lab(36.9089% 35.0961 -85.6872);
	--chart-2: lab(66.9756% -58.27 19.5419);
	--chart-3: lab(72.7183% 31.8672 97.9407);
	--chart-4: lab(52.0183% 66.11 -78.2316);
	--chart-5: lab(56.101% 79.4328 31.4532);
	--sidebar: lab(7.78201% -0.0000149012 0);
	--sidebar-foreground: lab(98.26% 0 0);
	--sidebar-primary: lab(36.9089% 35.0961 -85.6872);
	--sidebar-primary-foreground: lab(98.26% 0 0);
	--sidebar-accent: lab(15.204% 0 -0.00000596046);
	--sidebar-accent-foreground: lab(98.26% 0 0);
	--sidebar-border: lab(100% 0 0 / 0.1);
	--sidebar-ring: lab(48.496% 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
